{% extends 'index.html' %} 
{% load widget_tweaks %} 
{% block conteudo %}
<div class="container">
  <h2>Escolha uma Nova Senha</h2>
  <p class="message">
    Digite sua nova senha abaixo para redefinir o acesso à sua conta.
  </p>
  <form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa-solid fa-lock"></i>
      </span>
      {{ form.new_password1|add_class:"form-control"|attr:"placeholder:Digite a nova senha" }}
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa-solid fa-lock"></i>
      </span>
      {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Confirme a nova senha" }}
    </div>
    <button type="submit" class="btn btn-light">Redefinir Senha</button>
  </form>
</div>
{% endblock %}