{% load i18n %}
{%autoescape off%}
{%blocktranslate%}Voce esta recebendo este e-mail porque você solicitou a redefinição da sua senha no site {{ site_name }}.{%endblocktranslate%}

{% translate "Por favor va para pagina e escolha uma nova senha. " %}
{%block reset_link%}
{{ protocol }}://{{ domain }}{% url 'autenticacao:password_reset_confirm' uidb64=uid token=token %}
{% endblock%}

{% translate "Se você não solicitou a redefinição da senha, por favor, ignore este e-mail." %}

{% translate "Obrigado por usar nosso site." %}

{% translate "A equipe de suporte" %}
{%endautoescape%}