{% extends 'master.html' %}

{% block conteudo %}
<div class="container mt-5">
    <h2 class="mb-4" style="color: #2c09ca;">Oferecer uma Carona</h2>

    <form method="POST">
        {% csrf_token %}

        <!-- Origem -->
        <div class="mb-3">
            <label for="txtOrigem" class="form-label">Origem</label>
            <input type="text" class="form-control" id="txtOrigem" name="txtOrigem" required>
        </div>

        <!-- Destino -->
        <div class="mb-3">
            <label for="txtDestino" class="form-label">Destino</label>
            <input type="text" class="form-control" id="txtDestino" name="txtDestino" required>
        </div>

        <!-- Data -->
        <div class="mb-3">
            <label for="txtData" class="form-label">Data</label>
            <input type="date" class="form-control" id="txtData" name="txtData" required>
        </div>

        <!-- Hora -->
        <div class="mb-3">
            <label for="txtHora" class="form-label">Hora</label>
            <input type="time" class="form-control" id="txtHora" name="txtHora" required>
        </div>

        <!-- Número de Vagas -->
        <div class="mb-3">
            <label for="txtVagas" class="form-label">Número de Vagas</label>
            <input type="number" class="form-control" id="txtVagas" name="txtVagas" min="1" required>
        </div>

        <!-- Descrição -->
        <div class="mb-3">
            <label for="txtDescricao" class="form-label">Descrição (Opcional)</label>
            <textarea class="form-control" id="txtDescricao" name="txtDescricao"></textarea>
        </div>

        <button type="submit" class="btn btn-success w-100" name="btnAcao" id="btnAcao" value="oferecer_carona">Oferecer Carona</button>
        
    </form>
    <br>
        <a href="{% url 'autenticacao:volta_home' %}" class="btn btn-primary float-end btn-sm w-100">Voltar</a>
    
</div>
{% endblock %}
